body {
    background-color: #000612;
    border: #ffffff;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    font-size: 50px;
    cursor: pointer;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
}

#gameBoard {
    margin-top: 15px;
    text-align: center;
}
#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    
}
#statusText {
    margin-bottom: 50px;
}
.choice-menu {
    margin-top: 50px;
}

#playbtn,
#restartBtn {
    background-color: #0055ff;
    border: 1px solid #2b00ff;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}


#playbtn:hover,
#restartBtn:hover {
    background-color: #013aac;
    border: 1px solid #160082;
}
#backbtn {
    background-color: #8c00ff;
    border: 1px solid #620078;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

#backbtn:hover {
    background-color: #4d008b;
    border: 1px solid #3d004b;
}